.login-container{
    display: flex;
    width: 1920px;
    height: 946px;

}
.login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #87CEEB;
    flex: 1;
    justify-content: center;
}

.image-panel{
    background-color: #ced6f2;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}




